scanpy>=1.7.2
squidpy>=1.0.0
tensorflow>=2.5.0
numpy>=1.19.5
anndata>=0.7.6
pandas>=1.1.5

pip>=21.1.1
colorlog>=5.0.1
zlib>=1.2.11
wheel>=0.36.2
openssl>=1.1.1k
cryptography>=3.4.7
py>=1.10.0
keyring>=21.8.0
toml>=0.10.2
pkginfo>=1.7.0
coverage>=5.5
setuptools>=52.0.0
docutils>=0.16
colorama>=0.4.4
cffi>=1.14.5
pillow>=8.2.0
ipython>=7.24.1
rsa>=4.7.2
pyasn1>=0.4.8
toolz>=0.11.1
pyzmq>=22.1.0
pexpect>=4.8.0
tornado>=6.1
pytest>=6.2.3
six>=1.15.0
attrs>=20.3.0
partd>=1.2.0
dask>=2021.6.0
fsspec>=2021.6.0
scikit-image>=0.18.1
scipy>=1.6.3
cloudpickle>=1.6.0
pyyaml>=5.4.1
gast>=0.4.0
h5py>=3.1.0
tables>=3.6.1
readline>=8.1
parso>=0.8.2
jedi>=0.18.0
mypy>=0.812
patsy>=0.5.1
click>=7.1.2
rich>=10.1.0
matplotlib>=3.4.2
seaborn>=0.11.1
scikit-learn>=0.24.2
pytz>=2021.1
pygments>=2.8.1
commonmark>=0.9.1
tqdm>=4.61.0
requests>=2.25.1
ipywidgets>=7.6.3
notebook>=6.4.0
numba>=0.51.2
joblib>=1.0.1
pynndescent>=0.5.2
numcodecs>=0.7.3
zarr>=2.8.3
fasteners>=0.16.2
asciitree>=0.3.3
wrapt>=1.12.1
llvmlite>=0.34.0
jinja2>=2.11.3
ipykernel>=5.5.5
nbformat>=5.1.3
locket>=0.2.1
python>=3.8.10
xarray>=0.18.2
tifffile>=2021.6.6
imageio>=2.9.0
affine>=2.3.0
webencodings>=0.5.1
packaging>=20.9
bleach>=3.3.0
docrep>=0.3.2
cachetools>=4.2.2
certifi>=2020.12.5
urllib3>=1.26.4
texttable>=1.6.3
markupsafe>=1.1.1
python-dateutil>=2.8.1
numexpr>=2.7.3
black>=20.8b1
natsort>=7.1.1
leidenalg>=0.8.4
cycler>=0.10.0
sinfo>=0.3.4
pyparsing>=2.4.7
wcwidth>=0.2.5
pluggy>=0.13.1
iniconfig>=1.1.1
argcomplete>=1.12.3
chardet>=4.0.0
traitlets>=5.0.5
testpath>=0.5.0
decorator>=4.4.2
backcall>=0.2.0
pickleshare>=0.7.5
sphinx>=3.5.3
ptyprocess>=0.7.0
statsmodels>=0.12.2
networkx>=2.5.1
threadpoolctl>=2.1.0
markdown>=3.3.4
nbclient>=0.5.3
nbconvert>=6.0.7
jsonschema>=3.2.0
send2trash>=1.5.0
terminado>=0.10.0
oauthlib>=3.1.1
omnipath>=1.0.4
inflect>=5.3.0
rasterio>=1.2.4
snuggs>=1.4.7
cligj>=0.7.2
idna>=2.10
werkzeug>=2.0.1
defusedxml>=0.7.1
pandocfilters>=1.4.3
mistune>=0.8.4
entrypoints>=0.3
msgpack>=1.0.2
pycparser>=2.20
pyrsistent>=0.17.3
kiwisolver>=1.3.1
tensorboard>=2.5.0
flatbuffers>=1.12
astunparse>=1.6.3
termcolor>=1.1.0
regex>=2021.4.4
safety>=1.10.3
dparse>=0.5.1
xdoctest>=0.15.4
babel>=2.9.0
imagesize>=1.2.0
snowballstemmer>=2.1.0
alabaster>=0.7.12
gitdb>=4.0.7
pbr>=5.5.1
virtualenv>=20.4.3
appdirs>=1.4.4
pathspec>=0.8.1
smmap>=4.0.0
bandit>=1.7.0
stevedore>=3.3.0
flake8>=3.9.0
pyflakes>=2.3.1
darglint>=1.8.0
identify>=2.2.3
pycodestyle>=2.7.0
cfgv>=3.2.0
distlib>=0.3.1
filelock>=3.0.12
pydocstyle>=6.0.0
nox>=2021.6.6
